@model IEnumerable<HoangVanThang2018602188.Models.ShoppingCartItem>
@using HoangVanThang2018602188.Common

@if (Model != null && Model.Any())
{
    <h3>GIỎ HÀNG <span style="float:right;position:relative"><small>@Model.Count()</small></span></h3>
    var i = 0;
    var tongtien = decimal.Zero;
    <div>
        <table class="table">
            @foreach (var item in Model)
            {
                tongtien += item.TotalPrice;
                <tr>
                    <td><img src="@item.ProductImg" width="60" /></td>
                    <td>@item.ProductName</td>
                    <td>@Common.FormatNumber(item.Price, 0)</td>
                </tr>
            }
            <tr>
                <th colspan="2" style="text-align:center">Tổng tiền</th>
                <th>@Common.FormatNumber(tongtien, 0)</th>
            </tr>
        </table>
    </div>

}
else
{

}
